{% extends "layouts/layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>{{ 'construction'|trans }}</h2>
        </div>
    </div>
{% endblock %}