{% if flashMessages|length > 0 %}
    {% for message in flashMessages %}
    <div class="message message-{{ message.style }}">
        {{ message.text }}
    </div>
    {% endfor %}
{% endif %}
