{% set langswitch = langswitch() %}
{% if langswitch %}
    <div>
    {% for lang in langswitch %}
        <a class="{% if lang.current %}current{% endif %}" href="{{ lang.domain }}{{ path_for(lang.route, lang.args) }}">{{ lang.label }}{# lang.image|raw #}</a> {% if loop.last %}{% else %}&#124;{% endif %}
    {% endfor %}
    </div>
{% endif %}
