* {
   outline: 0;
}

body {
    margin: 50px 0 0 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: grey;
    font-size: 18px;
    background-color: #212121;
}

h1 {
    color: #2E97BF;
    letter-spacing: -3px;
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 0;
}

h2 {
    color: #2E97BF;
    font-weight: 400;
}

a:visited {
    color: #277e9e;
}

a, a:focus, a:hover, a.current:focus, a.current:hover {
    color: #2E97BF;
}

a.current {
    color: #3bbfef;
}

ul {
    text-align: left;
    width: 180px;
    margin: auto;
}

.message {
    padding: 10px;
    background-color: gray;
    color: #212121;
    text-align: center;
}

.message.message-success {
    background-color: #629361;
}

.message.message-danger {
    background-color: #915f5f;
}