<?php
return [
    'settings' => [
        'displayErrorDetails' => FALSE,
        
        // Doctrine settings
        'doctrine' => [
            'connection' => [
                'dbname'   => '',
                'user'     => '',
                'password' => '',
            ],
        ],
        
        // Locale settings
        'locale' => [
            'use_domain' => TRUE,
            'default_domain' => 'imhh-slim.localhost',
            'active' => [
                'xx-XX' => FALSE,
                'en-US' => 'imhh-slim.localhost',
                'de-DE' => 'de.imhh-slim.localhost',
            ],
        ],
        
        // Relative to domain (e.g. project is in sub directory '/project/public/')
        'public_path' => '/',
    ],
];
