{% extends "layouts/layout.html.twig" %}

{% block content %}
    <h2>Included</h2>
    <ul>
        <li><a href="https://twig.symfony.com" target="_blank">Twig</a></li>
        <li><a href="https://www.doctrine-project.org" target="_blank">Doctrine</a></li>
        <li><a href="https://github.com/InsanityMeetsHH/Slim-Skeleton#how-to-create-further-localisations" target="_blank">Localisation</a></li>
        <li><a href="https://github.com/geggleto/geggleto-acl" target="_blank">ACL</a></li>
    </ul>

    {# loop through database records #}
    {% if demos %}
        <p>&nbsp;</p>
        <p>{{ 'db-records'|trans }}</p>
        {% for demo in demos %}
            {{ demo.id }} {{ demo.name }}<br/>
        {% endfor %}
    {% endif %}
{% endblock %}